@font-face {
    font-family: 'TT Lakes Thin';
    src: url('TTLakes-Thin.eot');
    src: url('TTLakes-Thin.eot?#iefix') format('embedded-opentype'),
    url('fonts/TTLakes-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }


body{
    font-family: 'TT Lakes Thin';
    font-size: 14px;
    color: #1B1C21;
    margin: 0px;
    margin-top: -30px;
    width: 100%;
    background-color: #F8F8F8;  
}
.nav__list::-webkit-scrollbar {
    width: 0;
  }

.wrapper{
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}
.container{
    max-width: 1120px;
    margin: 0px auto;
}
.header-nav{
    padding: 5px 0px;
    height: 80px;
    border-bottom: 1px solid #41F6D7;
}
.hover:hover { 
    box-shadow: 1px 0px 5px 1px #bfbfc1;
    border-radius: 50%;
    opacity: 0.9;
    transform: scale(1.05);
}
.active:active {
    transform: scale(0.9);
}
li{
    text-decoration: none;    
    list-style-type: none;
    float: right;
    margin: 8px;   
}
.header-nav_right:last-child{
    margin-right: 8px;
}
.bg{
    float: left;
    margin-left: -25px;
}
.logo{
    float: left;
}



@media screen and (min-width: 320px){
    .header-nav{
        background-color: #ffffff;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .header-nav_center{
        display: none;
    }
       
    .logo{
        margin-top: 2px;
    }
    .repair{
        border-left: 1px solid #1B1C21;
        padding-left: 16px;
        border-color: #EAEAEA;
        border-radius: 1px;
    }   
    .span_hidden{
        display: none;
    }
    .main-header{
        margin: 0px 24px;
        height: 30px;
        width: 304px;
        font-size: 28px;
        font-weight: bolder;
        border-left: 4px solid #41F6D7;
        padding-left: 16px;
        margin: 0px;
    }
    .nav__scroll{
        overflow: hidden; 
    }
    .nav__list{
        display: flex;
        overflow: scroll;
        overflow-x: auto;
        padding: 7px;
        white-space: nowrap;        
        margin-left: 0px;
        text-align: center;
        max-width: 1120px;
    }
    .nav__link{
        text-decoration: none;    
        list-style-type: none;
        color: #7E7E82;
        tab-size: 16px;
        padding: 5px 7px;
    }
    .nav__link:hover {
        background-color: #ffffff;
        outline: 1px solid #B8FFEC;
        border-radius: 3px;
    }
    .nav__link:active {
        background-color: #ffffff;
        outline: 1px solid #B8FFEC;
        border-radius: 3px;         
    }
    .main-section{
        display: flex;
        flex-direction: column; 
    }
    .main-section-text{
        max-width: 100%;
        padding:0px 20px;
        max-height: 120px;
        margin-top: -20px;
    }
    .text_hidden{
        display: none;
    }
    .down{       
        text-decoration: none;    
        list-style-type: none;
        color: #1B1C21;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    
    .photo{
        max-height: auto;
        max-width: 100%;
        margin-top: 30px;
    }

}

@media screen and (min-width: 768px){
    .header-nav_center{
        display: inline;
    }
    .bg{
        border-right: 1px solid #1B1C21;
        padding-right: 16px;
        border-color: #EAEAEA;
        border-radius: 1px;
    }
    .main-section{
        display: flex;
        flex-direction: row;
    }
    .main-section-text{
        width: 50%;        
        height: auto;
    }
    .text{
        display: inline;
    }
    .span-text{
        display: none;
    }
    .main-section-photo{
        margin-top: -50px;
        margin-right: 20px;
        width: 50%;
        height: auto;
    }
    .down{
        display: flex;
        margin-top: 20px;
    }
    
    .photo{        
        border-radius: 5px;
    }
}

@media screen and (min-width: 1024px) {
    .header-nav{        
        background-color: #F8F8F8;  
        border-bottom: 0px;
        height: 40px;
        margin-bottom: -10px;
    }
    .header-nav_left,
    .header-nav_center {
        display: none;
    }
    .repair{
        border: 0px;
    }
    .span_hidden{
        display: inline-block;
        transform: translateY(-15px);
        font-size: 16px;
        color: #1B1C21;
        padding: 20px;
        text-align: center;
    }
    .span_hidden:hover{
        color:#7E7E82;
    }
    
    .main-header{
        margin-top: -20px;
    }
    .nav__link{
        text-decoration: none;    
        list-style-type: none;
        display: flex;
        overflow-x: auto;
        white-space: nowrap ; 
        margin-top: -10px;
        list-style-type: none;
    }
    .nav__list{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        overflow: hidden;        
        height: 80px; 
    }
    .nav__scroll{
        position: absolute;
    }
    
    .main-section{
        display: flex;
        flex-direction: row;
        margin-top: 150px;
    }
    .main-section-text{
        width: 50%;        
        height: auto;
    }
    
    .span-text{
        display: inline;
    }
    .main-section-photo{
        margin-top: -50px;
        width: 50%;
        height: auto;
    }
    .photo{        
        border-radius: 5px;
        max-width: 100%;
    }
}